# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ASMXServiceWebsiteApp/.vs/ASMXServiceWebsiteApp/v16/.suo
CallBackEventWebFormsApp/.vs/CallBackEventWebFormsApp/v16/.suo
ASMXServiceWebsiteApp/.vs/ASMXServiceWebsiteApp/v16/.suo
CallBackEventWebFormsApp/.vs/CallBackEventWebFormsApp/v16/.suo
*.pdb
ASMXServiceWebsiteApp/.vs/ASMXServiceWebsiteApp/v16/.suo
CallBackEventWebFormsApp/.vs/CallBackEventWebFormsApp/v16/.suo
*.cache
*.v2
*.dll
*.dll
ASMXServiceWebsiteApp/.vs/ASMXServiceWebsiteApp/v16/.suo
CallBackEventWebFormsApp/.vs/CallBackEventWebFormsApp/v16/.suo
CallBackEventWebFormsApp/.vs/CallBackEventWebFormsApp/v16/.suo
CallBackEventWebFormsApp/.vs/CallBackEventWebFormsApp/v16/.suo
tempWCF/Entities/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
tempWCF/Entities/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
ASMXServiceWebsiteApp/.vs/ASMXServiceWebsiteApp/v16/.suo
ASMXServiceWebsiteApp/.vs/ASMXServiceWebsiteApp/v16/.suo
CallBackEventWebFormsApp/.vs/CallBackEventWebFormsApp/v16/.suo
tempWCF/.vs/tempWCF/v16/.suo
tempWCF/Entities/obj/Debug/netstandard2.0/tempWCF.Entities.csprojAssemblyReference.cache
tempWCF/Entities/obj/Debug/netstandard2.0/tempWCF.Entities.assets.cache
tempWCF/Entities/obj/project.assets.json
tempWCF/Entities/obj/tempWCF.Entities.csproj.nuget.g.props
ASMXServiceWebsiteApp/.vs/ASMXServiceWebsiteApp/v16/.suo
ASMXServiceWebsiteApp/.vs/ASMXServiceWebsiteApp/v16/.suo
ASMXServiceWebsiteApp/.vs/ASMXServiceWebsiteApp/v16/.suo
tempWCF/.vs/tempWCF/v16/.suo
tempWCF/Entities/obj/tempWCF.Entities.csproj.nuget.g.props
*.exe
*.suo
/DotnetCore/FileOperations.WebApi/FileOperations/bin/Release/netcoreapp3.1
/DotnetCore/FileOperations.WebApi/FileOperations/obj/Release/netcoreapp3.1
/DotnetCore/FileOperations.WebApi/FileOperations.Test/obj/Release/netcoreapp3.1
/DotnetCore/FileOperations.WebApi/FileOperations.Services/obj/Release/netcoreapp3.1
/DotnetCore/FileOperations.WebApi/FileOperations/Properties/PublishProfiles
/DotnetCore/FileOperations.WebApi/FileOperations.Services/bin/Release/netcoreapp3.1
/DotnetCore/UpdateFile.FileOperations.WebApi/.vs/FileOperations
/DotnetCore/UpdateFile.FileOperations.WebApi/FileOperations/bin/Debug/netcoreapp3.1
/DotnetCore/UpdateFile.FileOperations.WebApi/FileOperations/bin/Release/netcoreapp3.1
/DotnetCore/UpdateFile.FileOperations.WebApi/FileOperations/obj
/DotnetCore/UpdateFile.FileOperations.WebApi/FileOperations/Properties/PublishProfiles
/DotnetCore/UpdateFile.FileOperations.WebApi/FileOperations.Services/bin
/DotnetCore/UpdateFile.FileOperations.WebApi/FileOperations.Services/obj
/DotnetCore/UpdateFile.FileOperations.WebApi/FileOperations.Test/bin/Debug/netcoreapp3.1
/DotnetCore/UpdateFile.FileOperations.WebApi/FileOperations.Test/obj/Debug/netcoreapp3.1
/DotnetCore/UpdateFile.FileOperations.WebApi/FileOperations.Test/obj/Release/netcoreapp3.1
/DotnetCore/UpdateFile.FileOperations.WebApi/FileOperations.Test/obj
/DotnetCore/UpdateFile.FileOperations.WebApi/FileOperations/FileOperations.csproj.user
/Dotnet/WebRequest.Console/WebRequest/bin/Debug
/Dotnet/WebRequest.WebForms/WebRequest/obj/Debug
/DotnetCore/NSwag.Swagger.WebApi/.vs/Swagger
/DotnetCore/NSwag.Swagger.WebApi/Swagger/bin/Debug/netcoreapp3.1
/DotnetCore/NSwag.Swagger.WebApi/Swagger/obj
/DotnetCore/NLog.Logging/.vs/Logging
/DotnetCore/NLog.Logging/Logging/bin/Debug/netcoreapp3.1
/DotnetCore/NLog.Logging/Logging/obj
/DotnetCore/Appsettings.NLog.WebApi/.vs/Logging
/DotnetCore/Appsettings.NLog.WebApi/Logging/obj
/DotnetCore/NLogConfig.NLog.WebApi/Logging/obj
/DotnetCore/NLogConfig.NLog.WebApi/Logging/bin/Debug/netcoreapp3.1
/DotnetCore/NLogConfig.NLog.WebApi/.vs/Logging
DotnetCore/Appsettings.NLog.WebApi/Logging/bin/Debug/netcoreapp3.1/appsettings.Development.json
DotnetCore/Appsettings.NLog.WebApi/Logging/bin/Debug/netcoreapp3.1/appsettings.json
DotnetCore/Appsettings.NLog.WebApi/Logging/bin/Debug/netcoreapp3.1/Logging.deps.json
DotnetCore/Appsettings.NLog.WebApi/Logging/bin/Debug/netcoreapp3.1/Logging.runtimeconfig.dev.json
DotnetCore/Appsettings.NLog.WebApi/Logging/bin/Debug/netcoreapp3.1/Logging.runtimeconfig.json
/DotnetCore/Practice.EFCore/.vs/EF Core
/DotnetCore/Practice.EFCore/ConsoleClient.EFCore/obj/Debug/netcoreapp3.1
/DotnetCore/Practice.EFCore/StackOverflow2010.EFCore/obj/Debug/netcoreapp3.1
/DotnetCore/Practice.EFCore/StackOverflow2010.EFCore.LinqToSql/obj/Debug/netcoreapp3.1
/DotnetCore/console/.vs/console
/DotnetCore/console/console/bin/Debug/netcoreapp3.1
/DotnetCore/console/console/obj
/DotnetCore/Practice.EFCore/ConsoleClient.EFCore/obj
/DotnetCore/Practice.EFCore/StackOverflow2010.EFCore/obj
/DotnetCore/Practice.EFCore/StackOverflow2010.EFCore.LinqToSql/obj
/Dotnet/FileOperations/.vs/FileOperations
/Dotnet/FileOperations/FileOperations/bin
/Dotnet/FileOperations.WebApi/.vs/FileOperations
/Dotnet/FileOperations.WebApi/FileOperations/bin
/Dotnet/FileOperations.WebApi/FileOperations/obj/Debug
*.user
/Dotnet/FileOperations.WebApi/FileOperations.Services/bin/Debug
/Dotnet/FileOperations.WebApi/FileOperations.Services/obj/Debug
/Dotnet/FileOperations.WebApi/FileOperations.Tests/bin/Debug
/Dotnet/FileOperations.WebApi/FileOperations.Tests/obj/Debug
/Dotnet/FileOperations.WebApi/packages
/Dotnet/FileOperations.WebApi/FileOperations/obj/Release
/Dotnet/FileOperations.WebApi/FileOperations/Properties/PublishProfiles
/Dotnet/FileOperations.WebApi/FileOperations.Services/bin/Release
/Dotnet/FileOperations.WebApi/FileOperations.Services/obj/Release
/Dotnet/FileOperations.WebApi/FileOperations.Tests/obj/Release
/DotnetCore/Basic.EFCore/.vs/EF Core/v17
/DotnetCore/Basic.EFCore/ConsoleClient.EFCore/obj/Debug/netcoreapp3.1
/DotnetCore/Basic.EFCore/StackOverflow2010.EFCore/obj/Debug/netcoreapp3.1
/DotnetCore/Basic.EFCore/StackOverflow2010.EFCore.LinqToSql/obj/Debug/netcoreapp3.1
/DotnetCore/FileOperations.Client.Console/.vs/console
/DotnetCore/FileOperations.Client.Console/console/bin/Debug/netcoreapp3.1
/DotnetCore/FileOperations.Client.Console/console/obj
/DotnetCore/Practice.EFCore/Practice.EFCore/obj
/DotnetCore/Practice.EFCore/Practice.EFCore.LinqToSql/obj
/DotnetCore/StackOverflow2010.EFCore/.vs/EF Core/v17
/DotnetCore/StackOverflow2010.EFCore/ConsoleClient.EFCore/obj
/DotnetCore/StackOverflow2010.EFCore/StackOverflow2010.EFCore/obj
/DotnetCore/StackOverflow2010.EFCore/StackOverflow2010.EFCore.LinqToSql/obj
